:root{
    
}

img{ width: 100%; }

*{ margin: 0; padding: 0; }
body{ height: 200vh; }

.Appbar, .row, .filmes-lista, .box, .nota-cont{ display: flex; }

.Appbar{
    justify-content: space-between;
    width: 90%;
    padding: 70px 5% 25px 5%;
    background: #FFFFFF;
}

.logo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    /* font-size: 72px; */
    font-size: 2em;
    color: #C74350;
}

.button{
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #364859;
    background: #FFFFFF;
    white-space: nowrap;
    border-radius: 5px;
    font-size: 1em;
}
.button:hover{
    background: #C74350;
    color: #FFFFFF;
}

.AddFilmeModal{
    position: absolute;
    width: 200px;
    top: 140px;
    right: 170px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.modal-item{
    text-align: center;
    padding: 20px 0 20px 0;
    cursor: pointer;
    color: #364859 !important;
}
.modal-item:hover{
    background: #ECECEC;
    font-weight: 900;
}

.row{ flex-direction: row; }

.capa{
    width: 100%;
    height: 410px;
    background-image: url('./img/movie-camera-show-Cinema-Illustration.jpg');
    background-size: cover;
    background-position-y: 40%;
    background-repeat: no-repeat;
}

.MyList{
    margin-top: 40px;
    width: 100%;
    height: auto;
    min-height: 300px;
}

.title-container{
    width: calc(95% - 5px);
    padding-left: calc(5% + 5px);
    color: #364859;
}

.filmes-lista{
    padding: 10px 2.5% 10px 2.5%;
}

.filme-container{
    width: 300px;
    height: auto;
    margin: 20px 2.5% 0 2.5%;
    padding: 0 5px 10px 5px;
    color: #364859;
}

.filme-container h2{ margin: 13px 0 13px 0;  }

.filme-img-container{
    width: 300px;
    height: 297px;
    background: rgb(212, 212, 212);
    border-radius: 5px;
}
.box{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.descricao-cont{
    width: 100%;
    color: #94A2AC;
}

.statusbar{
    position: relative;
    bottom: 27px;
    text-align: center;
    width: 100%;
    padding: 3px 0 3px 0;
    background: #75A9A4;
    color: #FFFFFF;
    border-radius: 0 0 5px 5px;
}

.nota-cont{
    justify-content: center;
    top: 32px;
    right: -263px;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #75A9A4;
    font-size: 1.3em;
    font-weight: 600;
    color: #FFFFFF;
}